<% include ./partials/header.ejs %>
	<h1>Remove restaurants until <span id = "numToLeave">THIS IS BROKEN!</span> are left</h1>
	<div class = "container-fluid">
		<div class = "container">
			<div class = "row flex-row flex-sm-nowrap">
				<% for(let i = 0; i < restaurants.length; ++i){ %>
					<div class = "cardContainer col-sm-12 col-md-6 col-lg-4 col-xl-3" data-restaurant-id=<%= restaurants[i]._id %> >
						<div class = "card card-block border-primary mb-4">
							<div>
								<img class = "card-img-top pb-2" src = <%= restaurants[i].image %> alt = "card">
								<div class = "card-img-overlay relative-top">
									<h4 class = "align-top card-title"><%= restaurants[i].name %></h4>
									<h6 class = "align-bottom card-subtitle"><%= restaurants[i].price %>, <%= restaurants[i].rating %> Stars</h6>
								</div>
							</div>
							<div class = "scroll-box px-2">
								<p class = "card-text"><% restaurants[i].categories.forEach((category)=>{ %><%= category %>, <%;}) %></p>
								<a class = "card-text" href = <%= restaurants[i].website %> target="_blank"><%= restaurants[i].name %>'s Yelp Page</a>
								<p class = "card-text"><%= restaurants[i].address %></p>
								<p class = "card-text"><%= restaurants[i].phone %></p>
							</div>
							<div class = "sticky-bottom text-center py-1">
								<button type = "button" class = "btn btn-danger">Remove</button>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
<% include ./partials/footer.ejs %>